<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
<mat-card class="answer-card">
<mat-card-header>
 <mat-card-title>
   question
 </mat-card-title>
 <mat-card-subtitle fxLayout="column" fxLayoutAlign="end start">
  Posted By: {{chandanmishra}}
   <p> Date: {{date}}</p>
 </mat-card-subtitle>
</mat-card-header>
</mat-card>

</div>


<!-- <div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center" *ngFor="let q of query">

  <mat-card class="query-card">
    <mat-card-header>
      <mat-card-title>
        <h6>
          <b>{{q.question}}</b>
        </h6>
      </mat-card-title>
      <mat-card-subtitle fxLayout="column" fxLayoutAlign="end start">
        Posted By: {{q.PostedBy}}
        <p> Date: {{q.Date}}</p>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</div> -->