.example-card {
    border-width: 10px;
    border-style: solid;
    border-color: rgba(135, 110, 202, 0.644);
    border-radius: 30px;
    margin: 15px;
   }
   
   .image {
    width: 230px;
    height: 150px;
   }
   
   .mat-button {
    background-color: rgb(0, 255, 191);
   }
   
   .ripplelink:hover {
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 16px 16px 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 16px 16px 16px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 16px 16px 16px;
   
   }